.cards__final{

    width: 480px;
    height: 459px;
    background: #C2F5FF;
    border-radius: 12px;
    margin-left: 20vw;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 10;

    &-image{
        margin-top: 28px;
    }

    &-title{
        font-size: 40px;
        line-height: 48px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #004980;
        margin-top: 9px;
        margin-bottom: 0;
    }

    &-timer{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        margin-top: 28px;
        margin-bottom: 20px;
        &--text{
            font-size: 24px;
            line-height: 32px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #000000;
            width: 230px;
            height: 32px;
            font-weight: 400;
            text-align: center;
            margin-top: 0;
            margin-bottom: 0;
        }

        &--numbers{
            margin-top: 0;
            font-weight: 600;
            font-size: 64px;
            line-height: 72px;
            color: #000000;
        }

    }

    &-btn{
        background: #7AC100;
        border-radius: 12px;
        width: 246px;
        height: 50px;

        font-size: 24px;
        line-height: 32px;
        text-align: center;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #FFFFFF;
        border: 0px;
        margin-bottom: 48px;
    }

    &-btn:hover{
        cursor: pointer;
    }
}