$blue: #1950b5;
$ligthblue: #c2f5ff;
$darkblue: #004980;
$mediumblue: #0080c1;
$green: #7ac100;

.cards {
    &__start {
        border-radius: 12px;
        width: 480px;
        height: 459px;
        background: $ligthblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 10vw;
        margin-top: 20vh;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        &-title {
            padding-bottom: 48px;
            width: 208px;
            height: 96px;
            font-weight: 400;
            font-size: 40px;
            line-height: 48px;
            text-align: center;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: $darkblue;
        }
    
        &-levels {
            display: flex;
            flex-direction: row;
            justify-content: center;
            column-gap: 24px;
            padding-bottom: 67px;
        }
    
        &-levelHead {
            width: 98px;
            height: 98px;
            background: #ffffff;
            border-radius: 12px;
            width: 97px;
            height: 98px;
            font-family: StratosSkyeng, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 64px;
            line-height: 72px;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            color: $mediumblue;
        }
    
        &-levelHead:hover{
            cursor: pointer;
        }
    
        &-level:checked + &-levelHead {
            border: 1px solid $mediumblue;
        }
    
        &-level {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }
    }

}
