.cards {

    
    &__game {
        width: 1034px;
        height: 700px;
        display: flex;
        flex-direction: column;
        row-gap: 35px;
        margin-left: 5vw;

        &-list {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            width: 1034px;
            gap: 16px
        }
        
        &-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    
        &-time {
            color: #ffff;
            font-family: StratosSkyeng, sans-serif;
            font-style: normal;
            font-weight: 400;
            width: 155px;
        }
    
        &-wrapper {
            display: flex;
            flex-direction: row;
            column-gap: 57px;
            justify-content: flex-end;
            margin-right: 14px;
            height: 33px;
        }
    
        &-min,
        &-sek {
            font-size: 16px;
            line-height: 32px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #ffffff;
        }
    
        &-timer {
            font-size: 64px;
            line-height: 72px;
            color: #ffffff;
            font-weight: 400;
        }
    
        &-btn {
            margin-top: 40px;
        }
    
        
    
        &-item {
            width: 95px;
            height: 133px;
        }
    
        &-item:hover{
            cursor: pointer;
   
    }

    
    }
}