/* stylelint-disable font-family-no-missing-generic-family-keyword */
/* stylelint-disable declaration-block-no-redundant-longhand-properties */
/* stylelint-disable selector-class-pattern */
.cards__start {
    border-radius: 12px;
    width: 480px;
    height: 459px;
    background: #c2f5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10vw;
}

.cards__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards__form-title {
    padding-bottom: 48px;
    width: 208px;
    height: 96px;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #004980;
}

.cards__form-levels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 24px;
    padding-bottom: 67px;
}

.cards__form-levelHead {
    background: #fff;
    border-radius: 12px;
    width: 97px;
    height: 98px;
    font-family: StratosSkyeng;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #0080c1;
}

.cards__form-levelHead:hover {
    cursor: pointer;
}

.cards__form-level:checked + .cards__form-levelHead {
    border: 1px solid #0080c1;
}

.cards__form-level {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.cards__game {
    width: 1034px;
    height: 700px;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

.cards__game-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cards__game-time {
    color: white;
    font-family: StratosSkyeng;
    font-style: normal;
    font-weight: 400;
    width: 155px;
}

.cards__game-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 57px;
    justify-content: flex-end;
    margin-right: 14px;
    height: 33px;
}

.cards__game-min,
.cards__game-sek {
    font-size: 16px;
    line-height: 32px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #fff;
}

.cards__game-timer {
    font-size: 64px;
    line-height: 72px;
    color: #fff;
    font-weight: 400;
}

.cards__game-btn {
    margin-top: 40px;
}

.cards__game-field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
    width: 1034px;
}

.cards__game-item {
    width: 95px;
    height: 133px;
}

.cards__game-item:hover {
    cursor: pointer;
}

.item-1 {
    background: url('./img/cards/0.png');
}

.item-2 {
    background: url('./img/cards/1.png');
}

.item-3 {
    background: url('./img/cards/2.png');
}

.item-4 {
    background: url('./img/cards/3.png');
}

.item-5 {
    background: url('./img/cards/4.png');
}

.item-6 {
    background: url('./img/cards/5.png');
}

.item-7 {
    background: url('./img/cards/6.png');
}

.item-8 {
    background: url('./img/cards/7.png');
}

.item-9 {
    background: url('./img/cards/8.png');
}

.item-10 {
    background: url('./img/cards/9.png');
}

.item-11 {
    background: url('./img/cards/10.png');
}

.item-12 {
    background: url('./img/cards/11.png');
}

.item-13 {
    background: url('./img/cards/12.png');
}

.item-14 {
    background: url('./img/cards/13.png');
}

.item-15 {
    background: url('./img/cards/14.png');
}

.item-16 {
    background: url('./img/cards/15.png');
}

.item-17 {
    background: url('./img/cards/16.png');
}

.item-18 {
    background: url('./img/cards/17.png');
}

.item-19 {
    background: url('./img/cards/18.png');
}

.item-20 {
    background: url('./img/cards/19.png');
}

.item-21 {
    background: url('./img/cards/20.png');
}

.item-22 {
    background: url('./img/cards/21.png');
}

.item-23 {
    background: url('./img/cards/22.png');
}

.item-24 {
    background: url('./img/cards/23.png');
}

.item-25 {
    background: url('./img/cards/24.png');
}

.item-26 {
    background: url('./img/cards/25.png');
}

.item-27 {
    background: url('./img/cards/26.png');
}

.item-28 {
    background: url('./img/cards/27.png');
}

.item-29 {
    background: url('./img/cards/28.png');
}

.item-30 {
    background: url('./img/cards/29.png');
}

.item-31 {
    background: url('./img/cards/30.png');
}

.item-32 {
    background: url('./img/cards/31.png');
}

.item-33 {
    background: url('./img/cards/32.png');
}

.item-34 {
    background: url('./img/cards/33.png');
}

.item-35 {
    background: url('./img/cards/34.png');
}

.item-36 {
    background: url('./img/cards/35.png');
}

@font-face {
    font-family: StratosSkyeng;
    src: url('Web fonnts/stratosskyengweb-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

body {
    background: #1950b5;
    font-style: normal;
    font-family: StratosSkyeng;
}

.cards {
    margin-left: 25vw;
    margin-top: 10vh;
    background: #1950b5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    width: 246px;
    height: 50px;
    background: #7ac100;
    border-radius: 12px;
    border: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #fff;
    justify-content: center;
}

.btn:hover {
    cursor: pointer;
}

.hiden {
    display: none;
}

.defaultCard {
    background: url('./img/card-bg.jpg');
}
