@import 'form';
@import 'game';
@import 'cards-bg';
@import 'finalScreen';

@font-face {
    font-family: 'StratosSkyeng', sans-serif;
    src: url('style/Web fonts/stratosskyengweb-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

$blue: #1950b5;
$ligthblue: #c2f5ff;
$darkblue: #004980;
$mediumblue: #0080c1;
$green: #7ac100;

body {
    background: $blue;
    font-style: normal;
    font-family: 'StratosSkyeng';
}

.cards {
    margin-left: 25vw;
    margin-top: 10vh;
    background: $blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
   
}

.btn {
    width: 246px;
    height: 50px;
    background: $green;
    border-radius: 12px;
    border: 0px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #ffffff;
    justify-content: center;
}

.btn:hover{
    cursor: pointer;
}

.hiden {
    display: none;
}

.defaultCard{
    background: url('./img/card-bg.jpg');
}
